<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link href="styles.css" rel="stylesheet">
    <title>Requerimientos</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
    <nav class="navbar navbar-dark">      
      </nav>            
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/">Inicio</a>
              </li>                            
            </ul>            
          </div>
        </div>
      </nav>
      <% if (encargado) { %>
      <div class="container mt-4">          
          <div class="card border-secondary">  
                <div class="card-header">Editar Registro</div>
                <div class="card-body">
                    <form action="/update" method="POST">

                         <input id="id" name="id" value="<%= encargado.id %>" hidden>
                        <div class="mb-3">
                          <label for="encargado" class="form-label">Encargado</label>
                          <input type="text" class="form-control" id="encargado" name="encargado" tabindex="1" value="<%= encargado.encargado  %>">                        
                        </div> 
                        
                        <div class="mb-3">
                          <label for="requerimiento" class="form-label">Requerimiento</label>
                          <input type="text" class="form-control" id="requerimiento" name="requerimiento" tabindex="1" value="<%= encargado.requerimiento  %>">                        
                        </div>

                        <div class="mb-3">
                          <label for="prioridad" class="form-label">Prioridad</label>
                          <select id="prioridad" name="prioridad" class="form-select" tabindex="2">
                            <option <%= encargado.prioridad=='baja' ? "selected" : '' %> value="baja">Baja</option>
                            <option <%= encargado.prioridad=='media' ? "selected" : '' %> value="media">Media</option>   
                            <option <%= encargado.prioridad=='alta' ? "selected" : '' %> value="alta">Alta</option>                          
                          </select>
                        </div> 

                        <div class="mb-3">
                          <label for="desarrollador" class="form-label">Desarrollador</label>
                          <input type="text" class="form-control" id="desarrollador" name="desarrollador" tabindex="1" value="<%= encargado.desarrollador  %>">                        
                        </div>

                        <div class="mb-3">
                          <label for="estado" class="form-label">Estado</label>
                          <select id="estado" name="estado" class="form-select" tabindex="2">
                            <option <%= encargado.estado=='desarrollo' ? "selected" : '' %> value="baja">En desarrollo<</option>
                            <option <%= encargado.estado=='entregado' ? "selected" : '' %> value="media">Entregado</option>   
                            <option <%= encargado.estado=='testeando' ? "selected" : '' %> value="alta">Testeando</option>     
                            <option <%= encargado.estado=='porempezar' ? "selected" : '' %> value="alta">Por empezar</option>                       
                          </select>
                        </div>

                        <div class="mb-3">
                          <label for="fechaentrega" class="form-label">Fecha de entrega</label>
                          <input type="date" class="form-control" id="fechaentrega" name="fechaentrega" tabindex="1"  value="<%= encargado.fechaentrega  %>">                        
                        </div>


                        <button type="submit" class="btn btn-primary" tabindex="5">Guardar</button>
                        <a href="/" class="btn btn-secondary">Cancelar</a>
                    </form>      
                </div>
            </div>     
      </div>
      <% } %>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
</body>
</html>